.idea
.tags*
*.opensdf
*.props
*.pdb
*.pyc
*.sdf
*.sln
*.suo
*.swp
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcodeproj
*.DS_Store
*~
*.orig
*.cproject
.classpath
.project
.settings/
bin/
build.jardesc
*.jar
